RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php?$1 [L,QSA] #QSA разрешает GET параметры в строке запроса, которая так же передается через GET /page/view?id=1 => GET = page/view&id=1